
<div class="container">

    <div class="col-md-12">

<center><h1><%= @skill.language %></h1></center>



<%= link_to "Delete Skill", skill_path(@skill), :data => { :confirm => "Are you sure?", :method => "delete"}  %> <br>

<%= link_to "Edit Skill", edit_skill_path(@skill) %> <br>

<%= link_to "Add New Project", new_skill_project_path(@skill) %> <br>

<br>

<% if @skill.projects.any? %>

<h3>Here are the projects that have been added so far:</h3> <br>



<% @skill.projects.each do |project| %>
<ul>
    <li>
            <strong><%= project.name %></strong> <br> <br>
            <%= project.description %>
    </li>

</ul>

<% end %>

<% else %>

<h3>No projects have been added yet</h3>

<% end %>

    </div> <br>

    <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://portfoliosite-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>


                                



